@using System.Activities.Expressions
@model UniversityManagementWebApp.Models.Cource

@{
    ViewBag.Title = "Save";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Save Cource</title>
    <link href="~/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            @*<div class="logo">
                    <a href="#"><img src="img/2.jpg" alt="" /></a>
                </div>*@
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="../Department/Save">Save Department</a></li>
                        <li><a href="../ViewAllDepartment/ViewAll">View Department</a></li>
                        <li><a href="../Cource/Save">Save Cource</a></li>
                        <li><a href="../Teacher/Save">Save Teacher</a></li>
                        <li><a href="../CourceAssign/Save">Assign Cource</a></li>
                        <li><a href="../">Cource Statistics</a></li>
                        <li><a href="../">Register Cource</a></li>
                        <li><a href="../">Allocate ClassRooms </a></li>
                        <li><a href="../">Class Scedule</a></li>
                        <li><a href="../Enroll/Save">Enroll Cource</a></li>
                        <li><a href="../Result/Save">Save Results</a></li>
                        <li><a href="../">View Result</a></li>
                        <li><a href="../">Unassign Cources</a></li>
                        <li><a href="../">Unallocate Rooms</a></li>


                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @using (Html.BeginForm())
    {
        <div align="center">
            <fieldset style="width: 60%">
                <legend>Save Cource</legend>
                <table>
                    <tr>
                        <td>@Html.LabelFor(x => x.Code)</td>
                        <td>
                            @Html.TextBoxFor(x => x.Code)
                            @Html.ValidationMessageFor(x => x.Code)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.Name)</td>
                        <td>
                            @Html.TextBoxFor(x => x.Name)
                            @Html.ValidationMessageFor(x => x.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.Cradit)</td>
                        <td>
                            @Html.TextBoxFor(x => x.Cradit)
                            @Html.ValidationMessageFor(x => x.Cradit)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.Description)</td>
                        <td>
                            @Html.TextBoxFor(x => x.Description)
                            @Html.ValidationMessageFor(x => x.Description)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.DepartmentId)</td>
                        <td>
                            @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"))
                            @Html.ValidationMessageFor(x => x.DepartmentId)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.SemisterId)</td>
                        <td>
                            @Html.DropDownListFor(x => x.SemisterId, new SelectList(ViewBag.Semisters, "Value", "Text"))
                            @Html.ValidationMessageFor(x => x.SemisterId)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" /></td>
                    </tr>

                </table>

            </fieldset>
        </div>
    }
    @if (ViewBag.messege != null)
    {
        <h3>@ViewBag.messege</h3>
    }
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>